*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 body{
  background: #fff;
  color: rgb(145, 214, 145);
 }

 a{
  text-decoration: none;
  color: #555;
  font-size: larger;
  transition: 1s;
  font-weight: 600;
 }

 a:hover{
  color: blueviolet;
 }

 button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  font-size: 16px;
  transition: all 2s;
 }

 button:hover{
  background: #fff;
  color: #000;
  border: 1px solid #000;
 }

 .navbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 12%;
  position: fixed;
  color: rgb(176, 222, 176);
  top: 0;
  left: 0;
  padding-top: 10px;
  font-size: 18px;
 }

 .navbar a{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
 }

 .navbar a:hover{
  color: green;
 }