*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif ;
  line-height: 1.6;
  background: rgb(243, 250, 243);
  color: #555;
}

.main{
  width: 60%;
  height: 100vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.main p{
  font-size: 16px;
}

.main-div{
  margin: 15px 0;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 12%;
  min-height: 100vh;
  background: rgb(221, 230, 221);
}

.navbar a i{
  color: #777;
  font-size: 25px;
  margin-left: 10px;
  transition: 1s;
}

.navbar a i:hover, .navbar a i:focus{
  color: rgb(33, 85, 33);
  font-size: 25px;
  margin-left: 10px;
}

.navbar a:hover{
  color: rgb(33, 85, 33);
}

.navbar a{
  text-decoration: none;
  margin-left: 5px;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

